{% if value == true %}
    <div class="badge badge-success">{{ 'parts.active_badge.active'|trans }}</div>
{% else %}
    <div class="badge badge-danger">{{ 'parts.active_badge.inactive'|trans }}</div>
{% endif %}
